# Preprocessing the Dataset; Removing all missing values and balancing class instances

In [1]:
import pandas as pd

### Read csv, make copy of csv, change panda display options to see the entire dataset

In [2]:
raw_data = pd.read_csv('Exoplanet_Composite_Raw_Data.csv')
# don't make changes to the original
filtered_raw_data = raw_data
pd.options.display.max_columns=None
pd.options.display.max_rows=None
filtered_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5602 entries, 0 to 5601
Columns: 193 entries, pl_name to pl_ntranspec
dtypes: float64(166), int64(21), object(6)
memory usage: 8.2+ MB

## Data Preprocessing - 
### 0 threshold : If any MV present we exclude the column

In [3]:
filtered_raw_data.shape

(5602, 193)

### Shape tells us there are 5602 rows and 84 columns

In [4]:
threshold = 0
threshold

0

### Get an idea of how many missing values are in each column currently

In [5]:
filtered_raw_data.isnull().sum()

pl_name               0
hostname              0
sy_snum               0
sy_pnum               0
sy_mnum               0
cb_flag               0
discoverymethod       0
disc_year             0
disc_facility         0
disc_telescope        0
disc_instrument       0
rv_flag               0
pul_flag              0
ptv_flag              0
tran_flag             0
ast_flag              0
obm_flag              0
micro_flag            0
etv_flag              0
ima_flag              0
dkin_flag             0
pl_controv_flag       0
pl_orbper           249
pl_orbpererr1       728
pl_orbpererr2       728
pl_orbperlim        249
pl_rade              20
pl_radeerr1        1754
pl_radeerr2        1754
pl_radelim           20
pl_bmasse            26
pl_bmasseerr1      3094
pl_bmasseerr2      3094
pl_bmasselim         26
pl_dens             110
pl_denserr1        4589
pl_denserr2        4589
pl_denslim          110
pl_orbeccen         777
pl_orbeccenerr1    3986
pl_orbeccenerr2    3986
pl_orbeccenlim      777
pl_insol           1710
pl_insolerr1       2245
pl_insolerr2       2245
pl_insollim        1710
pl_eqt             1462
pl_eqterr1         4213
pl_eqterr2         4213
pl_eqtlim          1462
pl_orbincl         1313
pl_orbinclerr1     3883
pl_orbinclerr2     3881
pl_orbincllim      1313
pl_trandep         1576
pl_trandeperr1     1695
pl_trandeperr2     1695
pl_trandeplim      1576
pl_trandur         1486
pl_trandurerr1     1589
pl_trandurerr2     1589
pl_trandurlim      1486
pl_occdep          5571
pl_occdeperr1      5573
pl_occdeperr2      5573
pl_occdeplim       5571
pl_orbtper         4619
pl_orbtpererr1     4648
pl_orbtpererr2     4648
pl_orbtperlim      4619
pl_rvamp           3498
pl_rvamperr1       3566
pl_rvamperr2       3566
pl_rvamplim        3498
st_teff             219
st_tefferr1         409
st_tefferr2         433
st_tefflim          219
st_rad              240
st_raderr1          395
st_raderr2          413
st_radlim           240
st_mass               4
st_masserr1         270
st_masserr2         291
st_masslim            4
st_met              433
st_meterr1          738
st_meterr2          738
st_metlim           433
st_lum              235
st_lumerr1         2381
st_lumerr2         2398
st_lumlim           235
st_logg             246
st_loggerr1         421
st_loggerr2         421
st_logglim          246
st_age             1204
st_ageerr1         1455
st_ageerr2         1455
st_agelim          1109
st_dens             500
st_denserr1         630
st_denserr2         630
st_denslim          500
st_vsin            3604
st_vsinerr1        4235
st_vsinerr2        4252
st_vsinlim         3604
st_rotp            4927
st_rotperr1        5067
st_rotperr2        5067
st_rotplim         4927
st_radv            3361
st_radverr1        3416
st_radverr2        3456
st_radvlim         3361
glat                  0
glon                  0
elat                  0
elon                  0
sy_pm               232
sy_pmerr1           235
sy_pmerr2           248
sy_pmra             232
sy_pmraerr1         235
sy_pmraerr2         248
sy_pmdec            232
sy_pmdecerr1        235
sy_pmdecerr2        248
sy_dist              21
sy_disterr1         127
sy_disterr2         127
sy_bmag             325
sy_bmagerr1         341
sy_bmagerr2         372
sy_vmag             219
sy_vmagerr1         227
sy_vmagerr2         233
sy_jmag             236
sy_jmagerr1         252
sy_jmagerr2         252
sy_hmag             221
sy_hmagerr1         243
sy_hmagerr2         243
sy_kmag             215
sy_kmagerr1         251
sy_kmagerr2         263
sy_umag            4939
sy_umagerr1        4945
sy_umagerr2        4947
sy_gmag            2194
sy_gmagerr1        4807
sy_gmagerr2        4947
sy_rmag            2176
sy_rmagerr1        4795
sy_rmagerr2        4947
sy_imag            2229
sy_imagerr1        4802
sy_imagerr2        4947
sy_zmag            2443
sy_zmagerr1        4940
sy_zmagerr2        4947
sy_w1mag            472
sy_w1magerr1        541
sy_w1magerr2        803
sy_w2mag            471
sy_w2magerr1        524
sy_w2magerr2        793
sy_w3mag            471
sy_w3magerr1       1488
sy_w3magerr2       1764
sy_w4mag            472
sy_w4magerr1       4291
sy_w4magerr2       4291
sy_gaiamag          270
sy_gaiamagerr1      272
sy_gaiamagerr2      272
sy_icmag           5271
sy_icmagerr1       5400
sy_icmagerr2       5584
sy_tmag             223
sy_tmagerr1         232
sy_tmagerr2         232
sy_kepmag          2156
sy_kepmagerr1      5602
sy_kepmagerr2      5602
st_nphot              0
st_nrvc               0
st_nspec              0
pl_nespec             0
pl_ntranspec          0
dtype: int64

### Drop columns that exceed the threshold

In [6]:
for col in filtered_raw_data:
    if filtered_raw_data[col].isnull().sum() > threshold:
        filtered_raw_data = filtered_raw_data.drop([col], axis=1)

In [7]:
filtered_raw_data.isnull().sum()

pl_name            0
hostname           0
sy_snum            0
sy_pnum            0
sy_mnum            0
cb_flag            0
discoverymethod    0
disc_year          0
disc_facility      0
disc_telescope     0
disc_instrument    0
rv_flag            0
pul_flag           0
ptv_flag           0
tran_flag          0
ast_flag           0
obm_flag           0
micro_flag         0
etv_flag           0
ima_flag           0
dkin_flag          0
pl_controv_flag    0
glat               0
glon               0
elat               0
elon               0
st_nphot           0
st_nrvc            0
st_nspec           0
pl_nespec          0
pl_ntranspec       0
dtype: int64

### Read master column mapper csv, assort keys and values in a dictionary and update filtered raw data columns accordingly

In [8]:
column_mapper = pd.read_csv('Exoplanet_Archive_Column_Mapping.csv')
mapper = {'pl_name' : 'Planet Name'} 
# pl_name.1 and Planet Name.1 are the relevant columns for the composite dataset
db_col_name, table_label = column_mapper[' pl_name.1'], column_mapper['Planet Name.1']

### Loop through number of code columns (ex: pl_name) and their definitions (ex: planet name)

In [9]:
for i in range(358):
    # if the row i in the database column name matches a column name in our filtered raw data, we assign the key and value in our dict 
    if str(db_col_name[i]).strip() in filtered_raw_data.columns.values:
        mapper[db_col_name[i].strip()] = table_label[i].strip()
        # use strip to remove trailing and leading whitespaces

### Double check we mapped all database column names to their definitions

In [10]:
len(mapper) == len(filtered_raw_data.columns.values)

True

### Map Columns

In [11]:
filtered_raw_data.columns= mapper.values()

### Checkpoint after removing invalid columns and renaming the remaining columns

In [12]:
filtered_renamed_data = filtered_raw_data
filtered_renamed_data.head()

,Planet Name,Host Name,Number of Stars,Number of Planets,Number of Moons,Circumbinary Flag,Discovery Method,Discovery Year,Discovery Facility,Discovery Telescope,Discovery Instrument,Detected by Radial Velocity Variations,Detected by Pulsar Timing Variations,Detected by Pulsation Timing Variations,Detected by Transits,Detected by Astrometric Variations,Detected by Orbital Brightness Modulations,Detected by Microlensing,Detected by Eclipse Timing Variations,Detected by Imaging,Detected by Disk Kinematics,Controversial Flag,Galactic Latitude [deg],Galactic Longitude [deg],Ecliptic Latitude [deg],Ecliptic Longitude [deg],Number of Photometry Time Series,Number of Radial Velocity Time Series,Number of Stellar Spectra Measurements,Number of Emission Spectroscopy Measurements,Number of Transmission Spectroscopy Measurements
0,11 Com b,11 Com,2,1,0,0,Radial Velocity,2007,Xinglong Station,2.16 m Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,0,78.28058,264.13775,18.33392,177.41790,1,2,0,0,0
1,11 UMi b,11 UMi,1,1,0,0,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,0,41.04437,108.71900,74.95821,141.64699,1,1,0,0,0
2,14 And b,14 And,1,1,0,0,Radial Velocity,2008,Okayama Astrophysical Observatory,1.88 m Telescope,HIDES Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,0,-21.05141,106.41269,38.22901,11.95935,1,1,0,0,0
3,14 Her b,14 Her,1,2,0,0,Radial Velocity,2002,W. M. Keck Observatory,10 m Keck I Telescope,HIRES Spectrometer,1,0,0,0,0,0,0,0,0,0,0,46.94447,69.16849,62.87885,223.24717,1,4,1,0,0
4,16 Cyg B b,16 Cyg B,3,1,0,0,Radial Velocity,1996,Multiple Observatories,Multiple Telescopes,Multiple Instruments,1,0,0,0,0,0,0,0,0,0,0,13.20446,83.33558,69.46803,321.21176,1,4,3,0,0

### Get an idea of the unique values we can expect in the discovery method column ; 11 unique values

In [13]:
filtered_renamed_data['Discovery Method'].unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Transit Timing Variations', 'Astrometry',
       'Disk Kinematics', 'Microlensing', 'Orbital Brightness Modulation',
       'Pulsation Timing Variations', 'Pulsar Timing'], dtype=object)

### The dataset is missing transit timing variations as a target dummy column ; This is expected to prevent perfect multicollinearity
### (We always want n-1 dummies for n categories so the omitted category serves as the reference category against which the others are compared)

### Get an idea of the frequency of each value in the discovery method column

In [14]:
filtered_renamed_data['Discovery Method'].value_counts()

Discovery Method
Transit                          4168
Radial Velocity                  1088
Microlensing                      210
Imaging                            68
Transit Timing Variations          29
Eclipse Timing Variations          17
Orbital Brightness Modulation       9
Pulsar Timing                       7
Astrometry                          3
Pulsation Timing Variations         2
Disk Kinematics                     1
Name: count, dtype: int64

### Clear discrepancy ; transit has 4168 occurrences, meanwhile Orbital Brightness Modulation, Pulsar Timing, Astrometry,
### Pulsation Timming Variations and Disk Kinematics all have less than 10 occurrences 
### To balance the data we can use SMOTE (Synthetic Minority Over-Sampling Technique) 
### This would synthesize instances of minority classes so that training will consider all classes evenly
### In thiss case, the minority class are exoplanets NOT discovered by transits

In [15]:
print(len(filtered_renamed_data['Discovery Facility'].value_counts()),
       len(filtered_renamed_data['Discovery Telescope'].value_counts()), 
          len(filtered_renamed_data['Discovery Instrument'].value_counts()))

70 79 94

### We could encode Discovery Facility, Discovery Telescope and Discovery Instrument but they each have 70-90 unique values

### To reduce dimensionality of the feature space and prevent multicollinearity we will exclude them for now
### Thus, so far, we will drop Planet Name, Host Name, Discovery Facility, Discovery Telescope and Discovery Instrument

In [16]:
useless_features = ['Planet Name',
                        'Host Name',
                        'Discovery Method',
                        'Discovery Facility',
                        'Discovery Telescope',
                        'Discovery Instrument']

data_useless_dropped = filtered_renamed_data.drop(useless_features, axis=1)

In [17]:
data_useless_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5602 entries, 0 to 5601
Data columns (total 25 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Number of Stars                                   5602 non-null   int64
 1   Number of Planets                                 5602 non-null   int64
 2   Number of Moons                                   5602 non-null   int64
 3   Circumbinary Flag                                 5602 non-null   int64
 4   Discovery Year                                    5602 non-null   int64
 5   Detected by Radial Velocity Variations            5602 non-null   int64
 6   Detected by Pulsar Timing Variations              5602 non-null   int64
 7   Detected by Pulsation Timing Variations           5602 non-null   int64
 8   Detected by Transits                              5602 non-null   int64
 9   Detected by Astrometric Variations                5602 non-null   int64
 10  Detected by Orbital Brightness Modulations        5602 non-null   int64
 11  Detected by Microlensing                          5602 non-null   int64
 12  Detected by Eclipse Timing Variations             5602 non-null   int64
 13  Detected by Imaging                               5602 non-null   int64
 14  Detected by Disk Kinematics                       5602 non-null   int64
 15  Controversial Flag                                5602 non-null   int64
 16  Galactic Latitude [deg]                           5602 non-null   float64
 17  Galactic Longitude [deg]                          5602 non-null   float64
 18  Ecliptic Latitude [deg]                           5602 non-null   float64
 19  Ecliptic Longitude [deg]                          5602 non-null   float64
 20  Number of Photometry Time Series                  5602 non-null   int64
 21  Number of Radial Velocity Time Series             5602 non-null   int64
 22  Number of Stellar Spectra Measurements            5602 non-null   int64
 23  Number of Emission Spectroscopy Measurements      5602 non-null   int64
 24  Number of Transmission Spectroscopy Measurements  5602 non-null   int64
dtypes: float64(4), int64(21)
memory usage: 1.1 MB

# We want our models to correctly predict whether an exoplanet was discovered by transits
## To do this, we have to remove all the one hot binary encoded "Detected by..." columns except for transits
## So if transits column is 0, we automatically know it was discovered by one of the other 10 methods
## But first, we have to balance out the instances of the discovery methods
## This means synthesizing more instances of the minority class (NOT discovered by transits)

In [18]:
target_dummies = ['Detected by Radial Velocity Variations',
           'Detected by Pulsar Timing Variations',
           'Detected by Pulsation Timing Variations',
           'Detected by Transits',	
           'Detected by Astrometric Variations',
           'Detected by Orbital Brightness Modulations',
           'Detected by Microlensing',
           'Detected by Eclipse Timing Variations',
           'Detected by Imaging',
           'Detected by Disk Kinematics']

### Before SMOTE, we have to drop rows with more than 1 discovery method for more straightforward training
### Do this by summing the one-hot encoded columns (the target dummies) for each row ; we exclude records where sum >1

In [19]:
data_no_dups = data_useless_dropped[data_useless_dropped[target_dummies].sum(axis=1) <=1]
data_no_dups.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4511 entries, 0 to 5601
Data columns (total 25 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Number of Stars                                   4511 non-null   int64
 1   Number of Planets                                 4511 non-null   int64
 2   Number of Moons                                   4511 non-null   int64
 3   Circumbinary Flag                                 4511 non-null   int64
 4   Discovery Year                                    4511 non-null   int64
 5   Detected by Radial Velocity Variations            4511 non-null   int64
 6   Detected by Pulsar Timing Variations              4511 non-null   int64
 7   Detected by Pulsation Timing Variations           4511 non-null   int64
 8   Detected by Transits                              4511 non-null   int64
 9   Detected by Astrometric Variations                4511 non-null   int64
 10  Detected by Orbital Brightness Modulations        4511 non-null   int64
 11  Detected by Microlensing                          4511 non-null   int64
 12  Detected by Eclipse Timing Variations             4511 non-null   int64
 13  Detected by Imaging                               4511 non-null   int64
 14  Detected by Disk Kinematics                       4511 non-null   int64
 15  Controversial Flag                                4511 non-null   int64
 16  Galactic Latitude [deg]                           4511 non-null   float64
 17  Galactic Longitude [deg]                          4511 non-null   float64
 18  Ecliptic Latitude [deg]                           4511 non-null   float64
 19  Ecliptic Longitude [deg]                          4511 non-null   float64
 20  Number of Photometry Time Series                  4511 non-null   int64
 21  Number of Radial Velocity Time Series             4511 non-null   int64
 22  Number of Stellar Spectra Measurements            4511 non-null   int64
 23  Number of Emission Spectroscopy Measurements      4511 non-null   int64
 24  Number of Transmission Spectroscopy Measurements  4511 non-null   int64
dtypes: float64(4), int64(21)
memory usage: 916.3 KB

### Get an idea of the new observation count for each discovery method

In [20]:
data_no_dups[target_dummies].sum(axis=0)

Detected by Radial Velocity Variations         982
Detected by Pulsar Timing Variations             7
Detected by Pulsation Timing Variations          2
Detected by Transits                          3218
Detected by Astrometric Variations               2
Detected by Orbital Brightness Modulations       5
Detected by Microlensing                       210
Detected by Eclipse Timing Variations           17
Detected by Imaging                             56
Detected by Disk Kinematics                      1
dtype: int64

In [21]:
unnecessary_dummies = ['Detected by Radial Velocity Variations',
           'Detected by Pulsar Timing Variations',
           'Detected by Pulsation Timing Variations',
           'Detected by Astrometric Variations',
           'Detected by Orbital Brightness Modulations',
           'Detected by Microlensing',
           'Detected by Eclipse Timing Variations',
           'Detected by Imaging',
           'Detected by Disk Kinematics']

targets= data_no_dups['Detected by Transits']
# tells us instances of 1, total observations
targets.sum(), targets.shape[0]

(3218, 4511)

## Drop specified features

In [22]:
composite_dummies_dropped = data_no_dups.drop(unnecessary_dummies, axis=1)
composite_dummies_dropped.head()

,Number of Stars,Number of Planets,Number of Moons,Circumbinary Flag,Discovery Year,Detected by Transits,Controversial Flag,Galactic Latitude [deg],Galactic Longitude [deg],Ecliptic Latitude [deg],Ecliptic Longitude [deg],Number of Photometry Time Series,Number of Radial Velocity Time Series,Number of Stellar Spectra Measurements,Number of Emission Spectroscopy Measurements,Number of Transmission Spectroscopy Measurements
0,2,1,0,0,2007,0,0,78.28058,264.13775,18.33392,177.41790,1,2,0,0,0
1,1,1,0,0,2009,0,0,41.04437,108.71900,74.95821,141.64699,1,1,0,0,0
2,1,1,0,0,2008,0,0,-21.05141,106.41269,38.22901,11.95935,1,1,0,0,0
3,1,2,0,0,2002,0,0,46.94447,69.16849,62.87885,223.24717,1,4,1,0,0
4,3,1,0,0,1996,0,0,13.20446,83.33558,69.46803,321.21176,1,4,3,0,0

In [23]:
# check if targets are balanced
targets.sum() / targets.shape[0]

0.7133673243183329

### 71% of all target observations are 1 (discovered by transits)
### to efficiently train machine learning models the ratio has to be closer to 50/50
### so we apply SMOTE (Sample minority over sampling technique)

In [24]:
from imblearn.over_sampling import SMOTE

# the features are all the columns except our target column
features = composite_dummies_dropped.drop(['Detected by Transits'], axis=1)
smote = SMOTE()
x_resampled, y_resampled = smote.fit_resample(features, targets)

### Check if balancing worked

In [25]:
y_resampled.sum() / y_resampled.shape[0]

0.5

## The new ratio implies the synthetic sampling technique worked

In [26]:
# we expect to see a higher non-null count for resampled features suggesting samples were synthesized
x_resampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6436 entries, 0 to 6435
Data columns (total 15 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Number of Stars                                   6436 non-null   int64
 1   Number of Planets                                 6436 non-null   int64
 2   Number of Moons                                   6436 non-null   int64
 3   Circumbinary Flag                                 6436 non-null   int64
 4   Discovery Year                                    6436 non-null   int64
 5   Controversial Flag                                6436 non-null   int64
 6   Galactic Latitude [deg]                           6436 non-null   float64
 7   Galactic Longitude [deg]                          6436 non-null   float64
 8   Ecliptic Latitude [deg]                           6436 non-null   float64
 9   Ecliptic Longitude [deg]                          6436 non-null   float64
 10  Number of Photometry Time Series                  6436 non-null   int64
 11  Number of Radial Velocity Time Series             6436 non-null   int64
 12  Number of Stellar Spectra Measurements            6436 non-null   int64
 13  Number of Emission Spectroscopy Measurements      6436 non-null   int64
 14  Number of Transmission Spectroscopy Measurements  6436 non-null   int64
dtypes: float64(4), int64(11)
memory usage: 754.3 KB

### In the context of exoplanet discovery, Discovery Year is better interpreted as a categorical variable
### Therefore we should not include it in the standardization process and can store it to be re-added later

### Since we are standardizing, we must also remove the binary columns (Circumbinary Flag, Controversial Flag)
### Circumbinary Flag, Controversial Flag and Discovery Year will be RE-ADDED after standardization

In [27]:
exclude_standardization = ['Discovery Year',
                           'Circumbinary Flag',
                           'Controversial Flag']

# Store columns that will be readded later after standardization

discovery_year = x_resampled['Discovery Year']
circumbinary_flag = x_resampled['Circumbinary Flag']
controversial_flag = x_resampled['Controversial Flag']

x_resampled = x_resampled.drop(exclude_standardization, axis = 1)

# Select features for Standardization

In [28]:
unscaled_features = x_resampled
unscaled_features.columns.values

array(['Number of Stars', 'Number of Planets', 'Number of Moons',
       'Galactic Latitude [deg]', 'Galactic Longitude [deg]',
       'Ecliptic Latitude [deg]', 'Ecliptic Longitude [deg]',
       'Number of Photometry Time Series',
       'Number of Radial Velocity Time Series',
       'Number of Stellar Spectra Measurements',
       'Number of Emission Spectroscopy Measurements',
       'Number of Transmission Spectroscopy Measurements'], dtype=object)

# Standardize the Features

In [29]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
# the standard scaler subtracts the mean and divides by standard deviation for every feature
scaler.fit(unscaled_features)
# mean, stdev are stored in the scaler object now

StandardScaler()

### Apply the standardization

In [30]:
scaled_features = scaler.transform(unscaled_features)

### Shape[0] for both features and targets must match

In [31]:
scaled_features.shape, y_resampled.shape

((6436, 12), (6436,))

### Ensure shape of the variables we excluded also match the new resampled data

In [32]:
circumbinary_flag.shape, controversial_flag.shape, discovery_year.shape

((6436,), (6436,), (6436,))

## Re-add the necessary columns

In [33]:
circumbinary_flag.info()

<class 'pandas.core.series.Series'>
RangeIndex: 6436 entries, 0 to 6435
Series name: Circumbinary Flag
Non-Null Count  Dtype
--------------  -----
6436 non-null   int64
dtypes: int64(1)
memory usage: 50.4 KB

In [34]:
scaled_features

array([[ 3.09407601, -0.66689371,  0.        , ..., -0.26160019,
        -0.01246596, -0.04436356],
       [-0.25666826, -0.66689371,  0.        , ..., -0.26160019,
        -0.01246596, -0.04436356],
       [-0.25666826, -0.66689371,  0.        , ..., -0.26160019,
        -0.01246596, -0.04436356],
       ...,
       [-0.25666826, -0.66689371,  0.        , ..., -0.26160019,
        -0.01246596, -0.04436356],
       [ 3.09407601, -0.66689371,  0.        , ..., -0.26160019,
        -0.01246596, -0.04436356],
       [-0.25666826,  1.10086902,  0.        , ...,  0.59174944,
        -0.01246596, -0.04436356]])

### By default all our non-standardized variables are pandas series
### and the scaled_features variable is a numpy array
### Have to first convert the numpy array into a dataframe
### So then we can re-add the excluded variables to our scaled features dataframe more easily

In [35]:
scaled_features_df = pd.DataFrame(scaled_features, columns = unscaled_features.columns.values)
scaled_features_df['Circumbinary Flag'] = circumbinary_flag
scaled_features_df['Controversial Flag'] = controversial_flag

# Convert discovery year to be treated as a categorical variable
discovery_year_categorical = discovery_year.astype('category')
scaled_features_df['Discovery Year'] = discovery_year_categorical

# have our target variable all the way to the right
scaled_features_df['Detected by Transits'] = y_resampled

## Last checkpoint

In [36]:
preprocessed_data = scaled_features_df
preprocessed_data.head()

,Number of Stars,Number of Planets,Number of Moons,Galactic Latitude [deg],Galactic Longitude [deg],Ecliptic Latitude [deg],Ecliptic Longitude [deg],Number of Photometry Time Series,Number of Radial Velocity Time Series,Number of Stellar Spectra Measurements,Number of Emission Spectroscopy Measurements,Number of Transmission Spectroscopy Measurements,Circumbinary Flag,Controversial Flag,Discovery Year,Detected by Transits
0,3.094076,-0.666894,0.0,2.424559,1.234306,-0.145901,-0.624689,0.613405,1.731519,-0.261600,-0.012466,-0.044364,0,0,2007,0
1,-0.256668,-0.666894,0.0,1.186720,-0.283545,1.148661,-0.992906,0.613405,0.729626,-0.261600,-0.012466,-0.044364,0,0,2009,0
2,-0.256668,-0.666894,0.0,-0.877523,-0.306068,0.308947,-2.327878,0.613405,0.729626,-0.261600,-0.012466,-0.044364,0,0,2008,0
3,-0.256668,0.216988,0.0,1.382856,-0.669803,0.872499,-0.152934,0.613405,3.735304,0.591749,-0.012466,-0.044364,0,0,2002,0
4,6.444820,-0.666894,0.0,0.261241,-0.531444,1.023143,0.855489,0.613405,3.735304,2.298449,-0.012466,-0.044364,0,0,1996,0

# Export the new preprocessed csv

In [37]:
exoplanet_composite_preprocessed = preprocessed_data
exoplanet_composite_preprocessed.to_csv('Composite_preprocessed_NO_MV_BALANCED.csv', index=False)